/* for card layout */
.gallery-row {
    margin-bottom: 2rem;
}

.card-body a{ /* changes the style of a only when it's inside of card-body */
    text-decoration: none;
    color: black;
}

.card-body a:hover{ /* changes the style of a ON HOVER and only when it's inside of card-body */
    color: blueviolet;
}

.red-text{
    color: red;
}


.scrolling-layout-row{
    padding-bottom: 5rem;
}

.scrolling-layout-row:nth-of-type(odd){
    background-color:black;
}

.scrolling-layout-row:nth-of-type(even){
    background-color:white;
}

.scrolling-layout-project-image{
    margin-right:auto;
    margin-left:auto;
    display:block;
}

.portfolio-name{
    background-image: url("/afrofuturism.jpg");
    padding:.5rem;
}

.portfolio-name h1, .navbar-brand h1{
    font-size: 1.5rem;
    margin-bottom:0;
    text-align:center;
}

.portfolio-name a{
    color:black;
}

.portfolio-name a:hover{
    text-decoration: none;
}

.navbar-collapse{
    justify-content: center;
}

/* .navbar-brand h1{
    font-size: 1.5rem;
    margin-bottom:0;
} */